h1 {
    color: rgba(255, 255, 255, 0.297);
}

/* * {
    border: solid;
} */

.header{
    background-color: rgb(108, 117, 16);
    display: flex;
    justify-content: space-between;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}